.currencySelect {
  background-color: hsl(212, 30%, 48%);
  color: hsl(0, 0%, 97%);
  border-color: hsl(212, 30%, 48%);
  border-radius: 2px;
  box-shadow: 2px 2px 8px hsl(0, 0%, 58%);
}

.currencySelect option {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 0%);
}