.currencySelectors {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
}
.currencySelectors > *:not(:last-child) {
  margin-right: 0.5rem
}

.errorMessage, .loadingMessage {
  margin-top: 2rem;
}